.LoginPage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    > div {
        background-color: lightblue;
    }
    button {
        padding: 8px 16px;
        background: blue;
        color: white;
        display: block;
        width: 100%;
        cursor: pointer;
    }
}
